.logo__container {
  margin-bottom: 1rem;
}

.logo {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
  line-height: 2.1rem;
}

.menu {
  list-style: none;
}

.menu__item-link {
  line-height: 1.5rem;
}

.social-links {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

.separation-line {
  height: 2px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.2);
}

ul {
  padding-left: 0;
  margin-bottom: 2rem;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}
