.photo-line__container {
  max-height: 100vh;
  overflow-x: scroll;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* padding-bottom: calc(100vh - 1000px); */
}

.placeholder {
  width: 100%;
  cursor: default;
}

.photo-line__container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.photo-card__cover-container {
  overflow: hidden;
  animation: opacity-animation 2s;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1250px) {
  .photo-line__container {
    /* order: 2; */
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .photo-card__cover-container {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

@media screen and (max-width: 500px) {
  .photo-line__container {
    /* order: 2; */
    grid-column: 1;
    grid-row: 2;
  }
  .photo-card__cover-container {
    grid-column: 1;
    grid-row: 2;
  }
}

.photo-card__cover {
  width: 100%;
  cursor: default;
}
