.photo-line__container {
  max-height: 100vh;
  overflow-x: scroll;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* padding-bottom: calc(100vh - 1000px); */
}

.photo-line__container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.photo-card__cover-container {
  overflow: hidden;
}

.photo-card__cover {
  width: 584px;
  cursor: default;
}
