.project-list {
  list-style: none;
  margin-bottom: 3rem;
}

.project-list li {
  margin-left: 1rem;

  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.6s ease;
  cursor: pointer;
  animation-name: opacity-animation;
  animation-duration: 3s;
  line-height: 1.2rem;
}

@keyframes opacity-animation {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.project-list li:hover {
  color: black;
}

.project-list .selected {
  color: black;
}
