.App {
  display: grid;
  align-items: center;
  margin-inline: 20px;
  height: 100vh;
}

main {
  display: grid;
  max-height: 900px;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
  overflow: hidden;
}

.photo-line {
  min-height: 100vh;
  background: lightblue;
}
