.App {
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

.photo-line {
  min-height: 100vh;
  background: lightblue;
}
